




.container {
    display: flex;
    justify-content: center;

    background-color: rgb(245, 159, 159);
    

}






.logo {

    
    background-color: rgb(152, 247, 108);
    width: 8%;
    

}





.image {

    
}