.powerpoint {
    width: 100%;
}




.image {

    width: 50%;
    border-radius: 50%;
    margin: 0 auto;

}


@media only screen and (min-width: 600px) {

    .image {
        width: 25%;
    }

 
  }






  .technologiesWrapper {

    background-color: rgb(255, 250, 250);
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }


  .iconImage {
    width: 17%;
    height: 100%;
    margin: 10px 50px;
    
  }

.headerTechnologies {
    margin: 10px 0 35px 0;
}