.powerpoint {
    width: 100%;
}




.image {

    width: 50%;
    border-radius: 50%;
    margin: 0 auto;

}


@media only screen and (min-width: 600px) {

    .image {
        width: 25%;
    }

 
  }