

.contactWrapper {
    display: flex;
    flex-direction: column;
}



.contactWrapper > *:nth-child(n+2) {
    width: 100%;
    padding: 20px;
    background-color: rgb(238, 166, 166);
    margin: 10px 0;
    border-radius: 15px;
    text-shadow: 0px 0px 1.5px rgb(102, 102, 102);

    background-image: linear-gradient(15deg,rgb(250, 225, 225) 85% , rgb(240, 102, 102) 100%);





}






.contactWrapper > *:active {
    background-color: green;


}








@media only screen and (min-width: 800px) {

    .contactWrapper > *:nth-child(2), .contactWrapper > *:nth-child(3) {
        display: none;
    }
}