



.wrapper {
    /* background-color: rgb(240, 162, 162); */
    width: 100%;
    /* position: absolute;
    bottom: 0; */
}





.container {


    display: flex;
    justify-content: center;
    margin: 50px;

}






.containerIcon {
    width: 13%;
    margin: 0 5px;
    color: red;
    font-size: 0.7rem;
    font-weight: bolder;
}