:root {
  --grays: rgb(218, 218, 218);
  --reds: rgb(255, 0, 0);
  --selected: rgb(248, 0, 0) ;
  --notselected: var(--grays);

}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');


@font-face {
  font-family: 'Josefine';
  src: url('/FONTS/JosefinSans-Regular.ttf');
}


@font-face {
  font-family: 'JosefineBold';
  src: url('/FONTS/JosefinSans-Bold.ttf');
}


@font-face {
  font-family: 'trajan';
  src: url('/FONTS/TrajanProRegular.ttf');
}



@font-face {
  font-family: 'jos';
  src: url('../public/FONTS/header1/JosefinSans-Italic-VariableFont_wght.ttf');
}


html,
body {
  text-align: center;
  font-size: 1.15rem;
  padding: 0;
  margin: 0;
  font-family: 'Josefine';
}





h1 {
  font-family: 'Josefin Sans', sans-serif;

  color: rgb(26, 111, 163);
}

h2 {
  /* font-size: 300%; */
  margin-bottom: 0;
  margin-top: 30px;
  line-height: 110%;
}


p {
  /* font-size: 150%; */
  line-height: 120%;
}












/* for mobile screen: */
@media only screen and (min-width: 1000px) {
  body {
    padding: 0 30%;
    padding: 0 30%;
    font-size: 2rem;

  }
}



/* for mobile screen: */
@media only screen and (min-width: 1200px) {
  body {
    padding: 0 30%;
  }

}





a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



h1 {
  font-family: Astronika;
}




h3 {
  margin-bottom: 0;
}

