
.container {
    text-align: center;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}



.imageContainer {
    width: 80%;
    
    
}




.videoContainer {
    background-color: red;
    width: 80%;
}



.powerpointContainer {
    width: 80%
}




.pdf {
    background-color: red;
}





.gallery {
    width: 80%;
}



.pdf {
    width: 100%;
    height: '500px';
}



