
.container {
    text-align: center;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}



.imageContainer {
    width: 100%;


}


.animatedGif {
    width: 75%;
}




.videoContainer {
    /* background-color: red; */
    width: 100%;
}



.powerpointContainer {
    width: 100%;
    height: auto;
}




.pdf {
    background-color: red;
}





.gallery {
    width: 100%;
}



.pdf {
    width: 100%;
    height: 350px;
}






.quote {
    font-style: italic;
    font-weight: bolder;

}

.author {
    font-weight: bolder;
}


.hrline {
    width: 100%;
    border: 2px dashed red;
}




.iframeContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 64%;
}

/* for pc screen: */
@media only screen and (min-width: 1000px) {
     .iframeContainer {
        padding-top: 61%;
     }

}



.iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}