.logoContainer {
    /* background-color: rgb(239, 121, 121); */
    width: 100%;
    height: auto;

}


.logo {
    /* background-color: rgb(195, 206, 251); */

}


.red {

    fill: #fc0000;
    animation: red 30s infinite linear;
}

/* auto animation NO action: */
@keyframes red {

    0% {fill: #fc0000;}
    12.5% {fill: #ff5f1f;}
    25% {fill: yellow;}
    37.5% {fill:rgb(90, 252, 90);}
    50% {fill:rgb(4, 129, 4);}
    62.5% {fill:rgb(85, 85, 242);}
    75% {fill:rgb(3, 3, 129);}
    87.5% {fill:purple;}
    100% {fill:#fc0000;}

}