



.container {

    /* background-color: rgb(248, 206, 206); */
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 50px 50px;


}







.imageContainer {
    width: 40%;
    /* background-color: rgb(5, 211, 5); */
}








.para {
    /* background-color: yellow; */
     text-align: center;
     width: 80%;

}






.redText {
    color:  var(--reds);
}








